extends index.pug

block script

block style 
    style
      include ../static/style.css

block content
    //- Semantic tags
    section#introSection
        div Gravitas, Riviera and much more..

    section#EventSection
        h2 Event Types
        a(href="http://localhost:8081/technical/"+regno)
            div(class="card")
                h3 Technical
                div( class="card-box" ) 
                    div.card-img
                        img(src="/static/Technical.png")
                    div.card-content
                        p List of Technical events
        a(href="http://localhost:8081/non_technical/"+regno) 
            div.card
                h3 Non-Technical
                div.card-box
                    div.card-img
                        img(src="/static/Non_Technical.png")
                    div.card-content
                        p List of Non-Technical events
        a(href="http://localhost:8081/webinar/"+regno)
            div.card
                h3 Webinars
                div.card-box
                    div.card-img
                        img(src="/static/Webinars.png")
                    div.card-content
                        p List of Online Seminars