extends index_Organizer.pug

block script

block style 
    style
      include ../static/style.css
      include ../static/style_organizer.css

block content
    //- Semantic tags
    section#introSection
        div Gravitas, Riviera and much more..

    section#EventSection
        h2 Event Types
        a(href="/orgTech")
            div(class="card")
                h3 Technical
                div( class="card-box" ) 
                    div.card-img
                        img(src="/static/Technical.png")
                    div.card-content
                        p technical ke bare mein kuch
        a(href="/orgNonTech") 
            div.card
                h3 Non-Technical
                div.card-box
                    div.card-img
                        img(src="/static/Non_Technical.png")
                    div.card-content
                        p non-technical ke bare mein
        a(href="/orgWebinars")
            div.card
                h3 Webinars
                div.card-box
                    div.card-img
                        img(src="/static/Webinars.png")
                    div.card-content
                        p online seminars