doctype html
html
  head
    title Clubs and Chapter Event Management Website
    <script src="https://kit.fontawesome.com/0b92e2597e.js" crossorigin="anonymous"></script>
    //- block scripts
    block style 
    block script 
  body
    nav#navbar
        ul
            div#logo
                img(class="lg" src="/static/logo.png")
            li #[a(href="/") Home] 
            li #[a(href="/merch") Merchandise]
            li #[a(href="/registrations") My Registrations]
            li#profile #[a(href="/profile") <i class="fa fa-user-circle-o fa-lg"></i>]
    block content
    footer#footer 
        | Copyright © 2021 EMeet.com | All rights reserved