doctype html
html
  head
    title Clubs and Chapter Event Management Website
    <script src="https://kit.fontawesome.com/0b92e2597e.js" crossorigin="anonymous"></script>
    //- block scripts
    block style 
    block script 
  body
    nav#navbar
        ul
            div#logo
                img(class="lg" src="/static/logo.png")
            li #[a(href="/home_organizer") Home] 
            li #[a(href="/eventcreation") Organize Event]
            li#profile #[a(href="/orgprofile") <i class="fa fa-user-circle-o fa-lg"></i>]
            li#profile2 #[a(href="/") <i class="fa fa-sign-out"></i>]
            
    block content
    footer#footer 
        | Copyright © 2021 EMeet.com | All rights reserved