extends index.pug

block style 
    style
      include ../static/style.css
      include ../static/event.css
      include ../static/style_myReg.css

block content 
    div.container
        h1 My Registrations
        br
    div.blocks
        table
            tr
                th Event Name
                th Payment
            tbody
            each article,i in params
                tr
                    td= article.eventname
                    td 
                        a(href="/payment" class='BTN') Pay
                //- td 1
                //- td Event 1
                //- td 1000