extends index_Organizer.pug

block style 
    style
      include ../static/style.css
      include ../static/event.css
      include ../static/style_myReg.css
      include ../static/style_organizer.css

block content 
    div.container
        h1 List of registrations
        br
    div.blocks
        table
            tr
                th Event Name
                th Reg Fee
                th Description
                th Organizer name
                th Org Phone No.
            tbody
            //- each article in anst
            tr
                //- td
                //- td #{article.eventname}
                //- td #{article.regfee }
                td Event 1
                td 1000
                td something
                td Rohan
                td 7676767676