//- extends index_organizer.pug
<script src="https://kit.fontawesome.com/0b92e2597e.js" crossorigin="anonymous"></script>

block style 
    style
      include ../static/style.css
      include ../static/style_organizer.css
      include ../static/styleProfile.css

block content 
    div.container
        h1 Organizer Profile
        form(action="/orgprofile",method="post",class="myForm")
            div.box
                <i class="fa fa-user"></i> 
                input(type="name",class="myInput",name="name",placeholder=" Enter Club/ Chapter Name: ")
            div.box
                <i class="fa fa-key"></i>
                input(type="password",class="myInput",name="passwd",placeholder="Password")
            div.box
                div.radioDiv
                    input#chapter.radioInput(type='radio', name='orgtype', value='Chapter')
                    label(for='chapter',class="radioB") Chapter
                div.radioDiv#clubRadio
                    input#club.radioInput(type='radio', name='orgtype', value='Club')
                    label(for='club',class="radioB") Club
            div.box
                <i class="fa fa-phone"></i>
                input(type="phone",class="myInput",name="phone",placeholder="Enter Phone no.:")
            div.box
                <i class="fa fa-envelope"></i>
                input(type="email",class="myInput",name="email",placeholder="Enter Email ID:")
            button.BTN 
                | Register