extends index.pug


block style 
    style
      include ../static/style.css
      include ../static/styleProfile.css

block content 
    div.container
        h1 Student Profile
        form(action="/studentprofile",method="post",class="myForm")
            div.box
                <i class="fa fa-user"></i> 
                input(type="name",class="myInput",name="name",placeholder=" Enter your name")
            div.box
                <i class="fa fa-pass"></i>
                input(type="passwd",class="myInput",name="passwd",placeholder="Password")
            div.box
                <i class="fa fa-list-ol"></i>
                input(type="regno",class="myInput",name="regno",placeholder="Registration Number")
            div.box
                <i class="fa fa-phone"></i>
                input(type="phone",class="myInput",name="phone",placeholder="Enter your Phone no.")
            div.box
                <i class="fa fa-envelope"></i>
                input(type="email",class="myInput",name="email",placeholder="Enter your Email ID")
            button.BTN 
                | Submit