table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    justify-content: center;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.blocks {
    display: flex;
    height: auto;
    align-items: center;
    text-align: center;
    flex-direction: column;
}