.container {
    display: flex;
    flex-direction: column;
    min-height: 86.3vh;
}

h1 {
    text-align: center;
    margin: 12px 0;
}

.myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInput {
    outline: none;
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 14px;
}

.BTN {
    padding: 2px 16px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 13px;
    color: white;
    background-color: black;
    margin: 10px;
    cursor: pointer;
}

.BTN:hover {
    background-color: rgb(70, 70, 70);
}